{:deps true
 :nrepl {:port 9000}
 :socket-repl {:port 60606}
 :builds {:plugin {:target :npm-module
                   :output-dir "lib"
                   :entries [jupyter-lab-parinfer]
                   :runtime :browser

                   :release {:compiler-options {:optimizations :advanced}
                                                ;:source-map true
                                                ;:pretty-print true
                                                ;:pseudo-names true}
                             :infer-externs :auto}}}}
